server {

    listen 80 default_server;
    root {{ nginx_document_root }};
    index index.php index.html;
    server_name localhost;

    location ~ \.php$ {

        fastcgi_pass 127.0.0.1:9000;
        include fastcgi_params;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

    }
}